<!DOCTYPE html>
<html>
<title>My profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/w3c.css">
<link rel="stylesheet" href="../static/googleapis.css">
<link rel="stylesheet" href="../static/cloudflare.css">
<link rel="stylesheet" href="../static/googleapis3.css">
<link rel="stylesheet" href="../static/assets/font-awesome/css/font-awesome.min.css">
<link rel="shortcut icon" href="http://vanvat.net/hinhanh/anhto/1493hinh-anh-cu-meo-cartoon-dang-yeu.jpg" />
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-collapse w3-grey w3-animate-left" style="z-index:3;width:300px;" id="mySidenav"><br>
  <div class="w3-container">
    <img src="http://vanvat.net/hinhanh/anhto/1493hinh-anh-cu-meo-cartoon-dang-yeu.jpg" style="width:45%;" class="w3-round w3-center"><br><br>
    <h4 class="w3-padding-0"><b>{{ user.Name }}</b></h4>
  </div>
  <a onclick="w3_close()" class="w3-padding"><i class="material-icons">person</i>  My profile</a>
  <a onclick="w3_close()" class="w3-padding"><i class="material-icons">local_phone</i> Contact: {{ user.Contact }}</a>
  <a href="#contact" onclick="w3_close()" class="w3-padding"><i class="material-icons">add</i>  Thêm đồ cần bán</a>
  <a href="https://test-2-howly.herokuapp.com/Home_page/{{ user.Name }}" onclick="w3_close()" class="w3-padding"><i class="material-icons">home</i>  Trang chủ</a>
  <a href="https://test-2-howly.herokuapp.com/logout" onclick="w3_close()" class="w3-padding"><i class="material-icons">block</i>  Đăng xuất</a>

  <div class="w3-section w3-padding-top w3-large">
    <a class="w3-hover-white w3-hover-text-indigo w3-show-inline-block"><i class="fa fa-facebook-official"></i></a>
    <a class="w3-hover-white w3-hover-text-red w3-show-inline-block"><i class="fa fa-pinterest-p"></i></a>
    <a class="w3-hover-white w3-hover-text-light-blue w3-show-inline-block"><i class="fa fa-twitter"></i></a>
    <a class="w3-hover-white w3-hover-text-grey w3-show-inline-block"><i class="fa fa-flickr"></i></a>
    <a class="w3-hover-white w3-hover-text-indigo w3-show-inline-block"><i class="fa fa-linkedin"></i></a>
  </div>
</nav>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header class="w3-container" id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <h1><b>Sách của bạn</b></h1>
  </header>

  <!-- First Photo Grid-->
  <div class="w3-row-padding">
      {% for key in user.Product %}
        <div class="w3-third w3-container w3-margin-bottom">
          <img src="{{ key.Image }}" alt="{{ key.Name }}" style="width:100%" height="450" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Tên: </b>{{ key.Name }}</p>
            <p><b>Giá (nghìn VNĐ): </b>{{ key.Price }}</p>
            <p><button onclick="document.getElementById('{{ key.Name }}').style.display='block'" class="w3-green"><i class="material-icons">mode_edit</i>  Edit</button>   <button class="w3-green"><i class="material-icons">delete</i><a href="https://test-2-howly.herokuapp.com/delete/{{ user.Name }}/{{ key.Name }}">  Delete</a></button></p>
            <div id="{{ key.Name }}" class="w3-modal">
                <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">
                  <div class="w3-center"><br>
                        <span onclick="document.getElementById('{{ key.Name }}').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright" title="Close Modal">&times;</span>
                  </div>
                  <form method="post" action="{{ url_for("edit", name_user = user.Name, product_name = key.Name, product_price = key.Price) }}" class="w3-container" action="form.asp">
                    <div class="w3-section">
                      <label><b>Tên:</b></label>
                      <input class="w3-input w3-border" type="text" name="edit_name">
                      <label><b>Giá:</b></label>
                      <input class="w3-input w3-border" type="text" placeholder="{{ key.Price }}" name="edit_price">
                      <button class="w3-btn-block w3-green w3-section w3-padding" type="submit">Edit</button>
                    </div>
                  </form>
                </div>
            </div>

          </div>
        </div>
      {% endfor %}
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-large w3-grey">
    <h4 id="contact"><b>Thêm sách muốn bán</b></h4>
    <hr class="w3-opacity">
    <form method="post" action="{{ url_for("profile", name = user.Name) }}" enctype="multipart/form-data">
      <div class="w3-group">
        <label>Tên sản phẩm</label>
        <input class="w3-input w3-border" type="text" name="name">
      </div>
      <div class="w3-group">
        <label>Giá bán (nghìn VNĐ): </label>
        <input class="w3-input w3-border" type="number" name="price">
      </div>
      <div class="w3-group">
        <label>Ảnh sản phẩm</label>
        <input class="w3-input w3-border" type="file" name="image">
      </div>
      <button type="submit" class="w3-btn w3-padding w3-margin-bottom"><i class="material-icons">add</i>  Thêm</button>
    </form>
  </div>

  <footer class="w3-container w3-padding-32 w3-dark-grey">
  <div class="w3-row-padding">
    <div class="w3-third">
      <h3>FOOTER</h3>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>

    <div class="w3-third">
      <h3>BLOG POSTS</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Lorem</span><br>
          <span>Sed mattis nunc</span>
        </li>
        <li class="w3-padding-16">
          <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Ipsum</span><br>
          <span>Praes tinci sed</span>
        </li>
      </ul>
    </div>

    <div class="w3-third">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">London</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">DIY</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Family</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Shopping</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Games</span>
      </p>
    </div>

  </div>
  </footer>

</div>

<script>
// Script to open and close sidenav
function w3_open() {
    document.getElementById("mySidenav").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>