{% extends "test_name.html" %}
{% block content %}
  <div class="w3-row-padding">
      {% for search in search_list %}
        <div class="w3-third w3-container w3-margin-bottom">
          <img src="{{ search.product_image }}" alt="{{ search.product_name }}" style="width:100%" height="450" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Tên: </b>{{ search.product_name }}</p>
            <p><b>Giá (nghìn VNĐ): </b>{{ search.product_price }}</p>
            <p><b>Người bán: </b><a href="http://127.0.0.1:5000/profile/{{ search.user_name }}">{{ search.user_name }}</a></p>
            <p><b>Liên hệ: </b>{{ search.user_contact }}</p>
          </div>
        </div>
      {% endfor %}
  </div>
{% endblock %}