<!DOCTYPE html>
<html>
<title>Trang chủ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/w3c.css">
<link rel="stylesheet" href="../static/googleapis.css">
<link rel="stylesheet" href="../static/cloudflare.css">
<link rel="stylesheet" href="../static/googleapis3.css">
<link rel="stylesheet" href="../static/assets/font-awesome/css/font-awesome.min.css">
<link rel="shortcut icon" href="http://vanvat.net/hinhanh/anhto/1493hinh-anh-cu-meo-cartoon-dang-yeu.jpg" />
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-collapse w3-grey w3-animate-left" style="z-index:3;width:300px;" id="mySidenav"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="http://vanvat.net/hinhanh/anhto/1493hinh-anh-cu-meo-cartoon-dang-yeu.jpg" style="width:45%;" class="w3-round w3-center"><br><br>
    <h4 class="w3-padding-0"><b>Cú mèo</b></h4>
  </div>
  <a href="https://test-2-howly.herokuapp.com" onclick="w3_close()" class="w3-padding"><i class="material-icons">home</i>  Trang chủ</a>
  <a href= "https://test-2-howly.herokuapp.com/profile/{{ name }}" onclick="w3_close()" class="w3-padding"><i class="material-icons">person</i>  Trang cá nhân</a>
  <a href="https://test-2-howly.herokuapp.com/logout" onclick="w3_close()" class="w3-padding"><i class="material-icons">block</i>  Đăng xuất</a>
  <form method="post" action="{{ url_for("home_page", name = name) }}" class="w3-container" action="form.asp">
      <input class="w3-input w3-border w3-margin-bottom" type="text" name="search">
      <button type="submit" class="w3-orange" value="Search"><i class="material-icons">search</i> Tìm kiếm</button>
  </form>
  <div class="w3-section w3-padding-top w3-large">
    <a class="w3-hover-white w3-hover-text-indigo w3-show-inline-block"><i class="fa fa-facebook-official"></i></a>
    <a class="w3-hover-white w3-hover-text-red w3-show-inline-block"><i class="fa fa-pinterest-p"></i></a>
    <a class="w3-hover-white w3-hover-text-light-blue w3-show-inline-block"><i class="fa fa-twitter"></i></a>
    <a class="w3-hover-white w3-hover-text-grey w3-show-inline-block"><i class="fa fa-flickr"></i></a>
    <a class="w3-hover-white w3-hover-text-indigo w3-show-inline-block"><i class="fa fa-linkedin"></i></a>
  </div>
</nav>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header class="w3-container" id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <h1><b>Tất cả sách</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Sách:</span>
      <button class="w3-btn w3-white selected"><a href="https://test-2-howly.herokuapp.com">Tất cả</a></button>
      <button class="w3-btn w3-white"><a href="https://test-2-howly.herokuapp.com/Home_page/nhohon20k">Ít hơn 20k</a></button>
      <button class="w3-btn w3-white w3-hide-small"><a href="https://test-2-howly.herokuapp.com/Home_page/20kden40k">Từ 20k đến 40k</a></button>
      <button class="w3-btn w3-white w3-hide-small"><a href="https://test-2-howly.herokuapp.com/Home_page/lonhon40k">Trên 40k</a></button>
    </div>
  </header>

  <!-- First Photo Grid-->
  {% block content %}
  {% endblock %}
{#  <div class="w3-row-padding">#}
{#      {% for user in user_list %}#}
{#          {% for product in user.Product %}#}
{#            <div class="w3-third w3-container w3-margin-bottom">#}
{#              <img src="{{ product.Image }}" alt="{{ product.Name }}" style="width:100%" height="450" class="w3-hover-opacity">#}
{#              <div class="w3-container w3-white">#}
{#                <p><b>Tên: </b>{{ product.Name }}</p>#}
{#                <p><b>Giá (nghìn VNĐ): </b>{{ product.Price }}</p>#}
{#                <p><b>Người bán: </b><a href="https://test-2-howly.herokuapp.com/profile/{{ user.Name }}">{{ user.Name }}</a></p>#}
{#                <p><b>Liên hệ: </b>{{ user.Contact }}</p>#}
{#              </div>#}
{#            </div>#}
{#          {% endfor %}#}
{#      {% endfor %}#}
{#  </div>#}

  <footer class="w3-container w3-padding-32 w3-dark-grey">
  <div class="w3-row-padding">
    <div class="w3-third">
      <h3>FOOTER</h3>
      <p>BOOK is a GIFT you can open again and again.</p>
      <p>-Garrison Keiller-</p>
      <p>Powered by <a href="http://techkids.vn/" target="_blank">TechKids</a></p>
    </div>

    <div class="w3-third">
      <h3>My Team</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="../static/img/team/2.png" class="w3-left w3-margin-right" style="width:50px">
          <a href="https://www.facebook.com/np.phuonganh?pnref=story"><span class="w3-large">Phanh</span><br></a>
          <span>Lead Marketer</span>
        </li>
        <li class="w3-padding-16">
          <img src="../static/img/team/1.jpg" class="w3-left w3-margin-right" style="width:50px">
          <a href="https://www.facebook.com/vu.huyhoang.5249"><span class="w3-large">Hoàng</span><br></a>
          <span>Lead Designer</span>
        </li>
      </ul>
    </div>

    <div class="w3-third">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Văn học-Tiểu thuyết</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Truyện tranh</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Tài liệu tham khảo</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Sách giáo khoa</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Giáo trình</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Khác</span>
      </p>
    </div>

  </div>
  </footer>

</div>

<script>
// Script to open and close sidenav
function w3_open() {
    document.getElementById("mySidenav").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>

